<div class="container">
    <div class="subContainer">
        <img src="../../assets/images/ironman.png" alt="">
        <a class="download-resume-btn bounce" download href="../../assets/files/Kartik Kumar Resume.pdf" > Downlaod Resume</a>
    </div>
    <div class="about">
        <h1 class="heading">
            About Me
        </h1>
        <p>As a dedicated Full Stack Web Developer, I specialize in creating dynamic and responsive web applications
            that provide seamless user experiences. </p>
        <div class="contact-card">

            <div class="contact-details">
                <span>Name</span>
                <span>Location</span>
                <span>Email</span>
                <span>Phone NO.</span>
            </div>


            <div class="contact-details details">
                <span>: Kartik Kumar</span>
                <span>: Chandigarh</span>
                <span>: kartikkumar0325&#x40;gmail.com</span>
                <span>: 8968630853</span>
            </div>

        </div>

    </div>
</div>


<!-- <div class="container hero1">
    <div class="subContainer">
        <p class="mainColor hello">hello</p>
        <h1 class="heading">
            I am
            <span class="mainColor">
                Kartik
            </span>
            a
            <br>Full Stack Developer
        </h1>

        <div>
            <button class="hireMe btn1">Hire Me</button>
            <button class="myWork">My Work</button>
        </div>
    </div>
    <div class="subContainer2">
        <img src="../../assets/images/pic2.png" alt="">

    </div>
</div> -->