
.card {
    background-color: var(--bg-color);
    border: 0;
    margin-bottom: 4rem;
}

span.ml-2 {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    border-bottom: 1px solid transparent;
}

span.ml-2:hover {
    color: var(--main-color);
}
span.ml-2:after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          border-bottom: 1px solid var(--main-color);
          color: var(--main-color);
          transition: color 0.3s ease-in-out;
    
          transition: width .3s;
      }

span.ml-2:hover::after {
    width: 100%;
    transition: width .3s;
}

span.ml-2 :hover {
    background-color: var(--bg-color);
    color: var(--main-color);
}

a.p-ripple.p-element.flex.align-items-center.p-menuitem-link {
    background: var(--bg-color);
}


dl,
ol,
ul {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

a,
a:active,
a:hover,
a:visited {
    color: var(--bg-color);
    text-decoration: none;
}

ul#pn_id_1 {
    background: var(--bg-color);
}