  
@import url("https://fonts.googleapis.com/css?family=Coiny");


.contact .heading {
    margin-bottom: 8rem;
    font-size: 6rem;
    font-weight: 900;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 80%;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    // border-color: var(--main-color);
    margin: .7rem 0;
    border: 1px solid var(--sd-bg-color);
    // box-shadow: var(--main-color) 0px 8px 8px,; 
}

.contact form .input-box input::placeholder,
.contact form textarea::placeholder {
    color: var(--text-color);
    opacity: .8;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
    border: 0;
}

.seperation {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 0;
    transition: .5s ease;
    margin-bottom: 3rem;
    text-decoration: none;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--sd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    transform: scale(1.25);
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
    border: 0;
    height: 5rem;
    width: 22rem;
    font-size: 2.2rem;
}

.contact form .btn:hover {
    border: 1px solid var(--main-color);
}

// .displayMessage {
    // position: fixed;
    // top: 30px;
    // z-index: 100;
    // right: 46px;
    // background: white;
    // color: black;
    // font-size: 2.6rem;
    // padding: 2rem;
// }

.displayMessage{
    width: 340px;
    height: 79px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 6px 25px #b1ffae, -11px -7px 25px #b2ffbf;
    position: fixed;
    top: 30px;
    z-index: 100;
    right: 46px;
    background: white;
    color: rgb(0, 0, 0);
    font-size: 2.6rem; 
}
.displayMessageError{
    width: 300px;
    height: 79px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 6px 25px #ffaeae, -11px -7px 25px #ffb2b2;
    position: fixed;
    top: 30px;
    z-index: 100;
    right: 46px;
    background: white;
    color: rgb(0, 0, 0);
    font-size: 2.6rem; 
}
  
  .bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 324px;
    height: 68px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
    outline: 2px solid white;
  }
  
  .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #00ff0d;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 4s infinite ease;  
}
  
  .blobError {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 4s infinite ease;
  }
  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  
    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }
  
    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }
  
    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }
  
    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }

@media (max-width: 738px) {
    .contact .heading {
        margin-bottom: 4rem !important;
    }
}

@media (max-width: 768px) {
    .input-box {
        display: flex;
        flex-direction: column;
    }

    .input-box input {
        width: 100% !important;
    }

    .contact form .btn {
        margin-top: 1.4rem;
        height: 4.6rem;
        width: 20.8rem;
        font-size: 2.2rem;
    }
}

@media (max-width: 768px) {
    .contact form {
        max-width: 100%;
    }

    .contact .heading {
        margin-bottom: 2rem !important;
    }
}