.skills-contianer {
    text-align: center;
    padding:  8rem 0;
}

.skills-contianer>h2 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 900;
}
.skills-contianer p{
    color: var(--sd-bg-color);
    position: relative;
    top: 1.8rem;
    font-size: 2.2rem;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-top: 8rem;
}


h2.heading {
    font-size: 6rem;
    font-weight: 900;
}

.skill-heading {
    text-align: left;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
