<div class="skills-contianer">
    <h2>Skills</h2>
    <p>
        Proficient in developing dynamic and efficient web solutions using Angular, ASP.NET, and SQL, with a focus on delivering high-quality, user-centered applications.
    </p>

    <div class="skills-list" >
        <div class="skill-item" *ngFor=" let skill of skills">
            <div class="skill-heading">
                {{skill.skillName}}
            </div>
            <div class="skill-bar">                
                <p-progressBar [value]="skill.skillPercent" class="progressbar"/>  
            </div>
        </div>
    </div>
</div>