@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nunito", sans-serif;
    line-height: 2rem;
    font-weight: 600;
}

:root {
    --bg-color: #000000;
    --sd-bg-color:#585858;
    --sd-tr-bg-color:#292929;
    --text-color:#fff;
    --main-color:#FFBD39;
}
// .pbg{
//     color: var(--bg-color);
// }
// .sbg{
//     color: var(--sd-bg-color);
// }
// .tc{
// color: var(--text-color);
// }
// .mcol{
// color: var(--main-color);
// }

html{
    font-size: 62.5%;
    padding: 0 20rem;
    // background-color: #FFBD39;
}

body {
background-color:var(--bg-color);
color: var(--text-color);
}

.container {
    display: grid;
    height: 74vh;
    grid-template-columns: 1fr 1fr;
}

.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    // border: 1px solid rgb(0, 255, 34);

}

.subContainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // border: 1px solid red;

}
