.message{
    color: white;
    background-color: rgb(22, 22, 22);
    font-size: 6rem;
    line-height: 8rem;
    border: 1px solid white;
text-align: center;
padding: 10rem;
border-radius: 4rem;
margin: 4rem 0;
}
.message p{
    font-size: 4rem;
text-align: left;
}
